<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.StudentMapper">
    <select id="queryAll" resultMap="studentMap">
        SELECT stu.name,
        stu.institution,
        stu.imgURL,
        stu.sex,
        stu.major,
        stu.stuNum,
        stu.imgURL,
        r.id,
        r.role
        FROM student stu, role r
        WHERE stu.roleID = r.id
    </select>

    <select id="queryByStuNum" parameterType="String" resultMap="studentMap">
        SELECT stu.name,
        stu.institution,
        stu.imgURL,
        stu.sex,
        stu.major,
        stu.stuNum,
        stu.imgURL,
        r.id,
        r.role
        FROM student stu, role r
        WHERE stu.stuNum = #{stuNum} AND stu.roleID = r.id
    </select>

    <delete id="delete" parameterType="String">
        DELETE FROM student WHERE name = #{name}
    </delete>

    <insert id="addStudent" parameterType="Student">
        INSERT INTO student(name,institution, sex, major, roleID, stuNum, password)
        VALUES (#{name},#{institution},#{sex},#{major},#{roleID},#{stuNum}, #{password})
    </insert>

    <update id="updateStudent" parameterType="Student">
        UPDATE student SET name = #{name}, institution = #{institution}, sex = #{sex}, major = #{major}, roleID = #{roleID}
        WHERE stuNum = #{stuNum}
    </update>

    <select id="checkExist" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM student WHERE stuNum = #{stuNum}
    </select>

    <update id="resetPassword">
        UPDATE student SET password = #{new} WHERE password = #{old}
    </update>

    <resultMap id="studentMap" type="Student">
        <result column="name" property="name"/>
        <result column="institution" property="institution"/>
        <result column="imgURL" property="imgURL"/>
        <result column="sex" property="sex"/>
        <result column="major" property="major"/>
        <result column="stuNum" property="stuNum"/>
        <result column="imgURL" property="imgURL"/>
        
        <association property="role" javaType="Role">
            <id column="id" property="id"/>
            <result column="role" property="role"/>
        </association>
    </resultMap>


</mapper>